name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - '**/*.md'

permissions:
  contents: read

jobs:
  build:
    name: Build, Lint and Test
    runs-on: ubuntu-latest
    env:
      NX_BRANCH: ${{ github.event.number || github.ref_name }}
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: .nvmrc
          check-latest: true
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - run: pnpm exec nx lint nx-stylelint
        if: always()

      - run: pnpm exec nx test nx-stylelint --ci
        if: always()

      - run: pnpm exec nx build nx-stylelint
        if: always()

  e2e:
    name: E2E Matrix - ${{ matrix.os }} (Node ${{ matrix.node-version }})
    runs-on: ${{ matrix.os }}
    env:
      NX_BRANCH: ${{ github.event.number || github.ref_name }}
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
    needs: build
    if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - windows-latest Temporary disabled
          - macos-latest
        node-version:
          - 18
          - 20
          - 22
          - 24
          - 25
      fail-fast: false

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - run: pnpm exec nx run e2e:e2e --configuration=ci

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    env:
      NX_BRANCH: ${{ github.event.number || github.ref_name }}
      NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
      IS_BETA_RELEASE: ${{ contains(github.ref_name, 'beta') }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: .nvmrc
          registry-url: https://registry.npmjs.org
          check-latest: true
          cache: pnpm

      - name: Update npm
        run: npm install -g npm@latest

      - run: pnpm install --frozen-lockfile

      - name: Publish
        if: env.IS_BETA_RELEASE == 'false'
        run: pnpm exec nx release publish
        shell: bash

      - name: Publish Beta
        if: env.IS_BETA_RELEASE == 'true'
        run: pnpm exec nx release publish --tag beta
        shell: bash
