name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - '**/*.md'

jobs:
  build:
    name: Build, Lint and Test (Node ${{ matrix.node-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 12
          - 14
          - 16
          - 17
      fail-fast: false

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2

      - name: Lint
        if: always()
        run: npx nx affected --target=lint

      - name: Test
        if: always()
        run: npx nx affected --target=test

      - name: Build
        if: always()
        run: npx nx build nx-stylelint

  e2e:
    name: E2E Matrix - ${{ matrix.os }} (Node ${{ matrix.node-version }})
    runs-on: ${{ matrix.os }}
    needs: build
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        node-version:
          - 12
          - 14
          - 16
          - 17
      fail-fast: false

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          check-latest: true
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2

      - name: E2E
        run: npx nx affected --target=e2e --skip-nx-cache

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs: [build, e2e]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    env:
      IS_BETA_RELEASE: ${{ contains(github.ref_name, 'beta') }}
    permissions:
      contents: write
    steps:
      - name: Git checkout
        uses: actions/checkout@v2

      - name: Use Node.js LTS 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org
          check-latest: true
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npx nx build nx-stylelint

      - name: Publish to NPM
        if: env.IS_BETA_RELEASE == 'false'
        run: |
          cd dist/packages/nx-stylelint/
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish Beta to NPM
        if: env.IS_BETA_RELEASE == 'true'
        run: |
          cd dist/packages/nx-stylelint/
          npm publish --access public --tag beta
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Extract Changelog for Release
        run: npx -y extract-changelog-release > RELEASE-BODY.md

      - name: Create Github Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: RELEASE-BODY.md
          prerelease: ${{ env.IS_BETA_RELEASE == 'true' }}
